<Connector port="8888"
   maxThreads="150"
   minSpareThreads="25"
   connectionTimeout="20000"

   enableLookups="false"
   maxHttpHeaderSize="8192"
   protocol="HTTP/1.1"
   useBodyEncodingForURI="true"
   redirectPort="8443"
   acceptCount="100"
   disableUploadTimeout="true"
   bindOnInit="false"

   scheme="https"
   proxyName="jira.flux-coordinator.com"
   proxyPort="443"
/>